({
    "letters.blessings": Files(
        paths: [
            "letters/blessings/1.blessing.ron",
            "letters/blessings/2.blessing.ron",
            "letters/blessings/3.blessing.ron",
            "letters/blessings/4.blessing.ron",
        ],
    ),
    "letters.curses": Files(
        paths: [
            "letters/curses/1.curse.ron",
            "letters/curses/2.curse.ron",
            "letters/curses/3.curse.ron",
        ],
    ),
    "letters.flavors": Files(
        paths: [
            "letters/flavors/1.flavor.ron",
        ],
    ),
    "sounds.slam": Files(
        paths: [
            "sounds/slam1.ogg",
        ],
    ),
    "sounds.tap": Files(
        paths: [
            "sounds/tap1.ogg",
        ],
    ),
    "sounds.bless_header": File(
        path: "sounds/bless_header.ogg",
    ),
    "sounds.bless": Files(
        paths: [
            "sounds/bless1.ogg",
        ],
    ),
    "sounds.curse_header": File(
        path: "sounds/curse_header.ogg",
    ),
    "sounds.curse": Files(
        paths: [
            "sounds/curse1.ogg",
        ],
    ),
    "sounds.start": File(
        path: "sounds/start.ogg",
    ),
})
