({
    "letters.blessings": Files(
        paths: [
            "letters/blessings/1.blessing.ron",
            "letters/blessings/2.blessing.ron",
            "letters/blessings/3.blessing.ron",
            "letters/blessings/4.blessing.ron",
        ],
    ),
    "letters.curses": Files(
        paths: [
            "letters/curses/1.curse.ron",
            "letters/curses/2.curse.ron",
            "letters/curses/3.curse.ron",
        ],
    ),
    "letters.decoys": Files(
        paths: [
            "letters/decoys/1.decoy.ron",
            "letters/decoys/2.decoy.ron",
            "letters/decoys/3.decoy.ron",
        ],
    ),
    "letters.flavors": Files(
        paths: [
            "letters/flavors/1.flavor.ron",
        ],
    ),
    "letters.names": Files(
        paths: [
            "letters/names/1.name.ron",
            "letters/names/2.name.ron",
            "letters/names/3.name.ron",
            "letters/names/4.name.ron",
            "letters/names/5.name.ron",
            "letters/names/6.name.ron",
            "letters/names/7.name.ron",
            "letters/names/8.name.ron",
            "letters/names/9.name.ron",
            "letters/names/10.name.ron",
            "letters/names/11.name.ron",
            "letters/names/12.name.ron",
            "letters/names/13.name.ron",
            "letters/names/14.name.ron",
            "letters/names/15.name.ron",
            "letters/names/16.name.ron",
            "letters/names/17.name.ron",
            "letters/names/18.name.ron",
            "letters/names/19.name.ron",
            "letters/names/20.name.ron",
            "letters/names/21.name.ron",
            "letters/names/22.name.ron",
            "letters/names/23.name.ron",
            "letters/names/24.name.ron",
            "letters/names/25.name.ron",
        ],
    ),
    "sounds.window": File(
        path: "sounds/notification1.ogg",
    ),
    "sounds.text_group": File(
        path: "sounds/text2.ogg",
    ),
    "sounds.text_character": Files(
        paths: [
            "sounds/tap1.ogg",
            "sounds/tap2.ogg",
            "sounds/tap3.ogg",
            "sounds/tap4.ogg",
            "sounds/tap5.ogg",
            "sounds/tap6.ogg",
            "sounds/tap7.ogg",
        ],
    ),
    "sounds.text_header_bless": File(
        path: "sounds/bless_header.ogg",
    ),
    "sounds.text_bless": File(
        path: "sounds/bless1.ogg",
    ),
    "sounds.text_header_curse": File(
        path: "sounds/curse_header.ogg",
    ),
    "sounds.text_curse": File(
        path: "sounds/curse1.ogg",
    ),
    "sounds.start": File(
        path: "sounds/start.ogg",
    ),
    "sounds.letter_clear": File(
        path: "sounds/ding.ogg",
    ),
    "sounds.letter_fail": File(
        path: "sounds/curse1.ogg",
    ),
    "sounds.guess_bless": File(
        path: "sounds/notification3.ogg",
    ),
    "sounds.guess_decoy": File(
        path: "sounds/click1.ogg",
    ),
    "sounds.guess_curse": File(
        path: "sounds/curse1.ogg",
    ),
})
