Flavor(
    title: "THE CHAIN OF PROTECTION",
    body: "The world has never been more full of danger, seen and unseen. This sacred letter carries with it a protective ward that can shield you and those you love. Do you have those in your life that you would wish to shield from harm? Share this letter with {recipients} people precious to you within {time_limit} seconds, and the spell will be cast upon them as well.",
    signoff: "One can never be too careful with those you cherish! Send this protective ward to {recipients} loved ones now. All within the chain of protection will make ith through these uncertain times.",
    footer: "The Chain of Protection was created just in time to guard us in this perilous age.",
)