Flavor(
    title: "THE DREAM INTERLINK NETWORK",
    body: "Your dreams are how you connect to the collective unconscious, but usually the signal isn't clear. However, exciting new neuroscience research has revealed a cutting-edge method to link minds together by encoding a subliminal message into a letter– this very letter! For it to work however, you need to pass the encoded message on to {recipients} dreamers within {time_limit} seconds, and the timer starts now!",
    signoff: "Imagine the deep unconscious insights we could uncover! Forward to {recipients} dreamfarers now and tap into humanity's latent dreamscape!",
    footer: "The Dream Interlink Network was founded with the goal of creating a globe-spanning organic supercomputer.",
)