Flavor(
    title: "THE CELESTIAL CHAIN",
    body: "The universe and its celestial bodies are always beaming their cosmic energy to human beings on earth, but most cannot receive it. Encountering this letter is a sign that you have achieved a high enough vibrational level to attune and receive. Share this letter with {recipients} open minds within {time_limit} seconds to tap into the signal and be filled with the light of the cosmos.",
    signoff: "Attunement is subject to the myriad and complex movements of the moon and stars, so your window may be closing! Send to {recipients} star children without delay.",
    footer: "The Celestial Chain was put to paper during a rare event when every planet in the solar system aligned.",
)